version: '3'
services: 

  backend: 
    build: ./backend
    environment: 
      - NODE_ENV=production               # don't have to change
      - CORS_ORIGIN=http://localhost      # don't have to change
      - JWT_SECRET=secret                 # don't have to change 
      - DATABASE_URL=mongodb uri          # replace with your mongodb uri
      - SMTP_PORT=587                     # SMTP port, probably don't have to change
      - SENDER_MAIL=noreply@example.com   # sender mail
      - SENDER_PASSWORD=password          # password to sender mail
      - SMTP_SERVER=smtp.example.com      # smtp server address
    ports: 
      - "5000:5000"

  frontend: 
    build: ./frontend
    ports: 
      - "80:80"