@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

html {
    font-size: 18px;
    min-height: 100vh;
}

#root {
    min-height: 100%;
    margin: 0 auto;
    transition: 0.2s;
    overflow: hidden;
    padding-bottom: 50px;
    width: MIN(1000px, calc(95vw));
}

.hide {
    display: none;
}

.clickable {
    transition: 0.1s;
    cursor: pointer;

    &:active {
        transform: scale(0.97);
    }
}

svg {
    transition: 0.1s;
}

.error {
    background-color: #f44336;
    color: #fafafa;
    margin: 8px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
}
